<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense D435 camera
-->
  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="gazebo_d435" params="camera_name
                                          reference_link
                                          topics_ns
                                          range_max_depth
                                          depth_optical_frame
                                          color_optical_frame
                                          infrared1_optical_frame
                                          infrared2_optical_frame
                                          publish_pointcloud:=true
                                          color_sensor_rate:=50
                                          depth_sensor_rate:=100
                                          depth_plugin_rate:=30.0
                                          color_plugin_rate:=100.0" >

    <!-- Load parameters to model's main link-->
    <xacro:property name="deg_to_rad" value="0.01745329251994329577" />
    <gazebo reference="${reference_link}">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
      <sensor name="${camera_name}color" type="camera">
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>720</width>
            <height>540</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>${color_sensor_rate}</update_rate>
        <visualize>0</visualize>
      </sensor>
      <sensor name="${camera_name}ired1" type="camera">
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>2</width>
            <height>1</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>0</update_rate>
        <visualize>0</visualize>
      </sensor>
      <sensor name="${camera_name}ired2" type="camera">
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>2</width>
            <height>1</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>0</update_rate>
        <visualize>0</visualize>
      </sensor>
      <sensor name="${camera_name}depth" type="depth">
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>120</width>
            <height>90</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>10</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>00</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>${depth_sensor_rate}</update_rate>
        <visualize>0</visualize>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin name="${camera_name}" filename="librealsense_gazebo_plugin.so">
        <prefix>${camera_name}</prefix>
        <depthUpdateRate>${depth_plugin_rate}</depthUpdateRate>
        <colorUpdateRate>${color_plugin_rate}</colorUpdateRate>
        <infraredUpdateRate>0.0</infraredUpdateRate>
        <depthTopicName>${topics_ns}/d435/depth/image_raw</depthTopicName>
        <depthCameraInfoTopicName>${topics_ns}/d435/depth/camera_info</depthCameraInfoTopicName>
        <colorTopicName>${topics_ns}/d435/color/image_raw</colorTopicName>
        <colorCameraInfoTopicName>${topics_ns}/d435/color/camera_info</colorCameraInfoTopicName>
        <infrared1TopicName>${topics_ns}/d435/infra1/image_raw</infrared1TopicName>
        <infrared1CameraInfoTopicName>${topics_ns}/d435/infra1/camera_info</infrared1CameraInfoTopicName>
        <infrared2TopicName>${topics_ns}/d435/infra2/image_raw</infrared2TopicName>
        <infrared2CameraInfoTopicName>${topics_ns}/d435/infra2/camera_info</infrared2CameraInfoTopicName>
        <colorOpticalframeName>${topics_ns}/${color_optical_frame}</colorOpticalframeName>
        <depthOpticalframeName>${topics_ns}/${depth_optical_frame}</depthOpticalframeName>
        <infrared1OpticalframeName>${topics_ns}/${infrared1_optical_frame}</infrared1OpticalframeName>
        <infrared2OpticalframeName>${topics_ns}/${infrared2_optical_frame}</infrared2OpticalframeName>
        <rangeMinDepth>0.1</rangeMinDepth>
        <rangeMaxDepth>${range_max_depth}</rangeMaxDepth>
        <pointCloud>${publish_pointcloud}</pointCloud>
        <pointCloudTopicName>${topics_ns}/d435/depth/color/points</pointCloudTopicName>
        <pointCloudCutoff>0.25</pointCloudCutoff>
        <pointCloudCutoffMax>${range_max_depth}</pointCloudCutoffMax>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>