<?xml version="1.0"?>
<robot name="human_box" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="human_0" />
  <xacro:arg name="traj_x" default="0.0" />
  <xacro:arg name="traj_y" default="0.0" />
  <xacro:arg name="traj_z" default="0.0" />
  <xacro:arg name="enable_motion_plugin" default="true" />

  <material name="human_blue">
    <color rgba="0.0 0.4 0.8 1"/>
  </material>

  <link name="base_link">
    <inertial>
      <mass value="70.0" />
      <origin xyz="0 0 0.9" rpy="0 0 0" />
      <inertia ixx="22.6" ixy="0" ixz="0" iyy="21.0" iyz="0" izz="5.8" />
    </inertial>
    
    <visual>
        <origin xyz="-10.0 -10.0 0.9" rpy="0 0 0" />
        <geometry>
          <box size="0.6 0.8 1.8"/>
        </geometry>
        <material name="human_blue"/>
    </visual>
    
    <collision>
        <origin xyz="-10.0 -10.0 0.9" rpy="0 0 0" />
        <geometry>
          <box size="0.6 0.8 1.8"/>
        </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <gravity>0</gravity>
    <material>Gazebo/Blue</material>
  </gazebo>

  <xacro:if value="$(arg enable_motion_plugin)">
    <gazebo>
      <plugin name="move_model" filename="libmove_model.so">
        <traj_x>$(arg traj_x)</traj_x>
        <traj_y>$(arg traj_y)</traj_y>
        <traj_z>$(arg traj_z)</traj_z>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>