<?xml version="1.0"?>
<!-- 
<link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </collision>
  </link> -->

<robot name="rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arguments -->
  <xacro:arg name="namespace" default="NX01" />
  <xacro:arg name="d435_range_max_depth" default="5.0" />

  <xacro:include filename="$(find mighty)/urdf/pioneer3at_body.urdf.xacro" />
  <!-- Disabled: fake_sim handles teleport and TF for ground robot -->
  <!-- <xacro:p3at_gazebo_ext name="$(arg namespace)_red_rover" namespace="$(arg namespace)" /> -->

  <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro" />
  <xacro:mid360 name="$(arg namespace)_livox" namespace="$(arg namespace)" parent="base_link" topic="mid360" lidar_update_rate="10" >
    <origin xyz="0 0 1.0" rpy="0 0.3 0"/>
  </xacro:mid360>

  <xacro:include filename="$(find mighty)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 name="$(arg namespace)_d435" topics_ns="$(arg namespace)" range_max_depth="$(arg d435_range_max_depth)" parent="base_link"
                     publish_pointcloud="false" color_sensor_rate="0" depth_sensor_rate="15" depth_plugin_rate="15.0" color_plugin_rate="0.0">
    <origin xyz="1.0 0.0 1.0" rpy="0 0 0"/>
  </xacro:sensor_d435>
      
</robot>
